.card{
    width: 600px;
    min-height: 200px;
    max-width: 100%;
}

.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    margin: 25vh;
}

.card-body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
}



